// mixin
@mixin banner {
  width: 100%;
  position: relative;
  color: white;
  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  span {
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  span-title {
    font-weight: bold;
    margin-bottom: 30px;
  }
}

@mixin clearFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin grid($cols, $margem) {
  float: left;
  margin-right: $margem;
  margin-bottom: $margem;
  width: ((100% - (($cols - 1) * $margem)) / $cols);
  &:nth-child(#{$cols}n){
    margin-right: 0;
  }
}